<div class="new-question-window">

  <mat-form-field class="new-question-textarea">
    <mat-label>Question</mat-label>
    <textarea matInput placeholder="Some question?" [(ngModel)]="question"></textarea>
    <button mat-button *ngIf="question" matSuffix mat-icon-button aria-label="Clear" (click)="question=''">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-button *ngIf="question" matSuffix mat-icon-button aria-label="Clear" (click)="question=''">
      <mat-icon>check_circle</mat-icon>
    </button>
    <button mat-button *ngIf="question" matSuffix mat-icon-button aria-label="Clear" (click)="question=''">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-form-field>

  <div class="contain">
    <div class="answer-type-rb">
      <div style="margin: 0 10px">
        <label id="radio-group-label" style="font-size: medium; margin: 5px 0">Answer amount</label><br>
        <mat-radio-group aria-labelledby="Select some item">
          <mat-radio-button value="1" checked>Single</mat-radio-button>
          <mat-radio-button value="2">Multiple</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="answer-opt-count">
      <div style="font-size: medium; text-align: center; margin: 5px 0">Answer options count</div>
      <div style="font-size: large; text-align: center">{{getAnswerOptionCount()}}</div>
    </div>

  </div>

  <div style="margin: 20px 0">
    <div *ngFor="let answer of answerOptions; let i = index; trackBy: trackByFn">
      <mat-form-field class="new-question-textarea">
        <mat-label>Answer option</mat-label>
        <textarea matInput placeholder="Some answer" [(ngModel)]="answerOptions[i]"></textarea>
        <button mat-button *ngIf="answer" matSuffix mat-icon-button aria-label="Clear" (click)="answerOptions[i]=''">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-button *ngIf="isAnswerOptionLastAndNonEmpty(answer, i)" matSuffix mat-icon-button aria-label="Clear"
                (click)="addNewAnswerOption()">
          <mat-icon>check_circle</mat-icon>
        </button>
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deleteAnswerOption(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="save-cancel-buttons">
      <button mat-button color="primary" [disabled]="isDisabled()" (click)="saveQuestion()">Save</button>
      <button mat-button color="warn" (click)="clearAllQuestion()">Cancel</button>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
